<?php

databaseInfo();

function databaseInfo()
{
  global $host,$user,$pass,$dbname,$instDir,$baseURL;

  // Change the following to make CDP work with your database
  $host           = "localhost";
  $user           = "wim";
  $pass           = "";
  $dbname         = "CDP";

  // Installation directory and url (each one has to end on a slash!)
  $instDir      = "/software/www/htdocs/CDP/";
  $baseURL      = "http://localhost/CDP/";
}
?>