<?php

databaseInfo();

function databaseInfo()
{
  global $host,$user,$pass,$dbname,$instDir,$baseURL,$ftp_server,$ftp_directory,$ftp_user,$ftp_password;

  // Change the following to make CDP work with your database
  $host           = "localhost";
  $user           = "wim";
  $pass           = "";
  $dbname         = "CDP";

  // Installation directory and url (each one has to end on a slash!)
  $instDir      = "/software/www/htdocs/CDP/";
  $baseURL      = "http://localhost/CDP/";
  
  $ftp_server = "ftp.ster.kuleuven.be";
  $ftp_directory = "/CDP/";
  $ftp_user = "miri";
  $ftp_password = "p=314+MIRI";
}
?>